<div class="row my-5 text-muted">
    <div class="col">
        <h4 class="fw-bold">Recent Posts</h4>
        <div class="mt-md-3">
            [[getResources?
                &parents=`[[++blog_home]]`
                &tpl=`blog-sidebar-item`
                &limit=`5`
            ]]
        </div>
    </div>
</div>