<div>
    <div class="bg-info text-dark text-center p-2" data-fred-render="false">
        {% if anchor %}Anchor is set to "{{ anchor }}"{% else %}Open the settings to set an anchor value.{% endif %}
    </div>
    <a name="{{ anchor }}" class="anchor" id="{{ anchor }}"></a>
</div>