<div class="{% if padding %}py-4 {% endif %}{{style}}">
    <div class="container{% if padding %} {%else%} px-0{% endif %}">
        <img class="img-fluid" src="assets/img/about-group-photo@2x.png" data-fred-name="image" data-fred-attrs="alt"/>
    </div>
</div>