<div class="{{ padding }} {{ bgcolor }} {{ border }}{% if border_top %} border-top{% endif %}{% if border_bottom %} border-bottom{% endif %}{% if border_size > 0 %} border-{{ border_size }}{% endif %}">
    <div class="container">
        <img class="img-fluid d-block mx-auto" src="https://picsum.photos/1540/1028?random=1" data-fred-name="image"
             data-fred-attrs="alt" alt="Alt Title"/>
    </div>
</div>