<div class="{% if padding %}py-4 {% endif %}{{ bgcolor }}">
    <div class="container{% if padding %} {% else %} px-0{% endif %}">
        <img class="img-fluid" src="{{ theme_dir }}web/img/about-group-photo@2x.png" data-fred-name="image"
             data-fred-attrs="alt"/>
    </div>
</div>