<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-5 text-md-left text-center my-md-5 py-md-5 text-dark">
                <h1 class="fw-light" data-fred-name="title">Product Hook</h1>
                <p class="lead text-muted" data-fred-name="text"> Product promise. This is your opportunity to entice your customer to purchase the product or sign up for your services. Most important thing is to keep is short, simple, and to the point. </p>
                <span data-fred-name="link" data-fred-rte="true" data-fred-rte-config="cta"><a class="btn btn-primary navbar-btn px-4 text-white fw-light" href="#">Call to action</a></span>
            </div>
            <div class="col-md-7 align-self-center">
                <img class="img-fluid mt-5" src="{{ theme_dir }}web/img/admin-dash-computer@2x.png" data-fred-name="image">
            </div>
        </div>
    </div>
</div>